/* /Components/Layout/MainLayout.razor.rz.scp.css */
.bi[b-3ftksqh97o] {
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

@media (min-width: 768px) {
    .sidebar .offcanvas-lg[b-3ftksqh97o] {
        position: -webkit-sticky;
        position: sticky;
        top: 48px;
    }

    .navbar-search[b-3ftksqh97o] {
        display: block;
    }
}

.sidebar .nav-link[b-3ftksqh97o] {
    font-size: .875rem;
    font-weight: 500;
}

    .sidebar .nav-link.active[b-3ftksqh97o] {
        color: #2470dc;
    }

.sidebar-heading[b-3ftksqh97o] {
    font-size: .75rem;
}

.navbar-brand[b-3ftksqh97o] {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control[b-3ftksqh97o] {
    padding: .75rem 1rem;
}
/* /Components/Layout/NavMenu.razor.rz.scp.css */
.bi[b-v37ln7yvpw] {
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

@media (min-width: 768px) {
    .sidebar .offcanvas-lg[b-v37ln7yvpw] {
        position: -webkit-sticky;
        position: sticky;
        top: 48px;
    }

    .navbar-search[b-v37ln7yvpw] {
        display: block;
    }
}

.sidebar .nav-link[b-v37ln7yvpw] {
    font-size: .875rem;
    font-weight: 500;
}

    .sidebar .nav-link.active[b-v37ln7yvpw] {
        color: #2470dc;
    }

.sidebar-heading[b-v37ln7yvpw] {
    font-size: .75rem;
}

.navbar-brand[b-v37ln7yvpw] {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control[b-v37ln7yvpw] {
    padding: .75rem 1rem;
}
/* /Components/Layout/ReconnectModal.razor.rz.scp.css */
.components-reconnect-first-attempt-visible[b-rcz7fgy7ia],
.components-reconnect-repeated-attempt-visible[b-rcz7fgy7ia],
.components-reconnect-failed-visible[b-rcz7fgy7ia],
.components-pause-visible[b-rcz7fgy7ia],
.components-resume-failed-visible[b-rcz7fgy7ia],
.components-rejoining-animation[b-rcz7fgy7ia] {
    display: none;
}

#components-reconnect-modal.components-reconnect-show .components-reconnect-first-attempt-visible[b-rcz7fgy7ia],
#components-reconnect-modal.components-reconnect-show .components-rejoining-animation[b-rcz7fgy7ia],
#components-reconnect-modal.components-reconnect-paused .components-pause-visible[b-rcz7fgy7ia],
#components-reconnect-modal.components-reconnect-resume-failed .components-resume-failed-visible[b-rcz7fgy7ia],
#components-reconnect-modal.components-reconnect-retrying[b-rcz7fgy7ia],
#components-reconnect-modal.components-reconnect-retrying .components-reconnect-repeated-attempt-visible[b-rcz7fgy7ia],
#components-reconnect-modal.components-reconnect-retrying .components-rejoining-animation[b-rcz7fgy7ia],
#components-reconnect-modal.components-reconnect-failed[b-rcz7fgy7ia],
#components-reconnect-modal.components-reconnect-failed .components-reconnect-failed-visible[b-rcz7fgy7ia] {
    display: block;
}


#components-reconnect-modal[b-rcz7fgy7ia] {
    background-color: white;
    width: 20rem;
    margin: 20vh auto;
    padding: 2rem;
    border: 0;
    border-radius: 0.5rem;
    box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: display 0.5s allow-discrete, overlay 0.5s allow-discrete;
    animation: components-reconnect-modal-fadeOutOpacity-b-rcz7fgy7ia 0.5s both;
    &[open]

{
    animation: components-reconnect-modal-slideUp-b-rcz7fgy7ia 1.5s cubic-bezier(.05, .89, .25, 1.02) 0.3s, components-reconnect-modal-fadeInOpacity-b-rcz7fgy7ia 0.5s ease-in-out 0.3s;
    animation-fill-mode: both;
}

}

#components-reconnect-modal[b-rcz7fgy7ia]::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    animation: components-reconnect-modal-fadeInOpacity-b-rcz7fgy7ia 0.5s ease-in-out;
    opacity: 1;
}

@keyframes components-reconnect-modal-slideUp-b-rcz7fgy7ia {
    0% {
        transform: translateY(30px) scale(0.95);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes components-reconnect-modal-fadeInOpacity-b-rcz7fgy7ia {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes components-reconnect-modal-fadeOutOpacity-b-rcz7fgy7ia {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.components-reconnect-container[b-rcz7fgy7ia] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#components-reconnect-modal p[b-rcz7fgy7ia] {
    margin: 0;
    text-align: center;
}

#components-reconnect-modal button[b-rcz7fgy7ia] {
    border: 0;
    background-color: #6b9ed2;
    color: white;
    padding: 4px 24px;
    border-radius: 4px;
}

    #components-reconnect-modal button:hover[b-rcz7fgy7ia] {
        background-color: #3b6ea2;
    }

    #components-reconnect-modal button:active[b-rcz7fgy7ia] {
        background-color: #6b9ed2;
    }

.components-rejoining-animation[b-rcz7fgy7ia] {
    position: relative;
    width: 80px;
    height: 80px;
}

    .components-rejoining-animation div[b-rcz7fgy7ia] {
        position: absolute;
        border: 3px solid #0087ff;
        opacity: 1;
        border-radius: 50%;
        animation: components-rejoining-animation-b-rcz7fgy7ia 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }

        .components-rejoining-animation div:nth-child(2)[b-rcz7fgy7ia] {
            animation-delay: -0.5s;
        }

@keyframes components-rejoining-animation-b-rcz7fgy7ia {
    0% {
        top: 40px;
        left: 40px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    4.9% {
        top: 40px;
        left: 40px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    5% {
        top: 40px;
        left: 40px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 80px;
        height: 80px;
        opacity: 0;
    }
}
/* /Components/Pages/Proponents.razor.rz.scp.css */
.eye-hover-btn[b-491wn5nfjj] {
    transition: all 0.2s ease;
}

.eye-hover-btn:hover[b-491wn5nfjj] {
    background-color: #f59e0b !important; /* darker orange */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transform: scale(1.05);
}
