.bi[b-v37ln7yvpw] {
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

@media (min-width: 768px) {
    .sidebar .offcanvas-lg[b-v37ln7yvpw] {
        position: -webkit-sticky;
        position: sticky;
        top: 48px;
    }

    .navbar-search[b-v37ln7yvpw] {
        display: block;
    }
}

.sidebar .nav-link[b-v37ln7yvpw] {
    font-size: .875rem;
    font-weight: 500;
}

    .sidebar .nav-link.active[b-v37ln7yvpw] {
        color: #2470dc;
    }

.sidebar-heading[b-v37ln7yvpw] {
    font-size: .75rem;
}

.navbar-brand[b-v37ln7yvpw] {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control[b-v37ln7yvpw] {
    padding: .75rem 1rem;
}
