@inherits LayoutComponentBase
@layout ProjectManager.Components.Layout.MainLayout

@* <h1>Manage your account</h1> *@
<div>
    <div class="p-2">
        <h5>Account Settings</h5>
        <hr />
        <div class="row">
            <div class="col-lg-3">
                <ManageNavMenu />
            </div>
            <div class="col-lg-9">
                @Body
            </div>
        </div>
    </div>

</div>
