@using ProjectManager.Components.Account.Shared

<div class="w-auto p-2 my-2 text-center border rounded d-flex align-items-center border-secondary-subtle">
    <div class="p-1 border d-inline-flex rounded border-secondary-subtle">
        <span class="@Colour rounded" style="width: 15px; height: 15px; display: inline-block;"></span>
    </div>
    <span class="ms-2">@Name</span>
</div>

@code{
    [Parameter]
    public required string Colour { get; set; }
    [Parameter]
    public required string Name { get; set; }
}